/*all*/
body {
    background-color: #f4f4f4;
    background-image: url(https://cdn.jsdelivr.net/gh/imsyy/file/pic/email-pattern.png) !important;
    background-attachment: fixed;
}

@font-face {
    font-family: 'HYWenHei';
    src: url(https://file.imsyy.top/font/HYWenHei-55W.ttf);
}

a {
    font-family: 'HYWenHei';
}

/*语言选择*/
select.changelanguage {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 8px 0px 15px;
    transition: 0.3s;
    font-family: 'HYWenHei';
}

select.changelanguage:hover {
    border-color: #c0c4cc;
    /*background-color: #f4f4f4;*/
}

.changelanguage {
    right: 8px!important;
}

/*登录*/
.login {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 15px;
    font-family: 'HYWenHei';
}

.login .hydrated {
    display: none;
}

.operatediv {
    background-color: #FFF;
    border-radius: 6px;
}

/*管理*/
#top-div li.operate {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 15px;
    font-family: 'HYWenHei';
}

#top-div li.operate .hydrated {
    display: none;
}

.operate ul {
    text-align: center;
    /*margin: -1px 0px 0px 20px!important;*/
    background: #ffffff!important;
    padding: 0px 6px!important;
    border-radius: 6px;
    border: 1px solid #dcdfe6;

}

.operate ul li {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    line-height: 26px;
    margin: 6px 0px 6px 0px;
    transition: 0.3s;
}

.operate ul li:hover {
    border-color: #c0c4cc;
    background-color: #f4f4f4;
}

.icon-inner {
    display: none!important;
}

/*标题*/
.title a {
    transition: 0.5s;
}

.title a:hover {
    color: #747474;
}

/*主体*/
.list-container {
    background-color: #fff!important;
    border-radius: 6px!important;
}

.list-wrapper {
    width: 86%!important;
    box-shadow: 0 0 10px 0 rgb(128 128 128 / 50%)!important;
    border-radius: 6px!important;
    transition: 0.3s;
}

.list-wrapper:hover {
    box-shadow: 0 0 20px 0 rgb(128 128 128 / 70%)!important;
}

.table-header {
    padding: 30px 10px!important ;
}

.table-header a {
    padding: 10px 16px;
    margin: 0px 6px;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    transition: 0.3s;
}

.table-header a:hover {
    background-color: #f4f4f4;
}

/*功能条*/
label {
    padding: 6px 8px;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    font-weight: normal;
    transition: 0.3s;
}

label:hover {
    background-color: #f4f4f4;
}

input#originalpic {
    vertical-align: middle;
}

button {
    padding: 5px 8px;
    border: 1px solid #dcdfe6;
    background-color: white;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    background-color: #f4f4f4;
}

/*表格*/
.updated_at {
    width: 20%!important;
    text-align: center!important;
}

/*上传*/
#upload_div {
    border-top: 1px solid #dcdfe6;
    padding-top: 16px!important;
}

#upload_btns select {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 8px;
    transition: 0.3s;
    font-family: 'HYWenHei';
    height: 40px;
}

#upload_btns select:hover {
    background-color: #f4f4f4;
}

input#upload_submit {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 8px;
    transition: 0.3s;
    font-family: 'HYWenHei';
    height: 40px;
}

input#upload_submit:hover {
    background-color: #f4f4f4;
}

/* 出现动画 */
@keyframes fade-in {
    0% {opacity: 0;};
    40% {opacity: 0;};
    100% {opacity: 1;};
}

@-webkit-keyframes fade-in {
    0% {opacity: 0;};
    40% {opacity: 0;};
    100% {opacity: 1;};
}

.operate:hover ul {
    animation: fade-in;  
    animation-duration: 0.3s;
    -webkit-animation:fade-in 0.3s;
}

/*移动端适配*/
@media screen and (max-width:480px){
    .table-header a {
        padding: 4px 8px!important;
        margin: 0px 0px!important;
        font-size: 0.9rem;
    }
}

/*滚动条*/
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

/*下载按钮*/
/*
.list-body-container a {
    position: fixed;
    right: 8px;
    bottom: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    padding: 0px 18px 0px 15px;
    transition: 0.3s;
    font-family: 'HYWenHei';
}

.list-body-container a ion-icon {
    display: none;
}
*/
